@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-outfit: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
  }
  .dark {
    --background: #09090b;
    --foreground: #fafafa;
  }
}
